ul li{
    list-style: none;
}

#movie_list ul{
    padding-left: 0;
}
#movie_list li{
    margin: 1em 1em 1em 0;
    padding: 0;
    overflow: hidden;
}
.listMovie{
    width: 410px;
    min-width: 350px;
}

.card{
    margin: 1em;
    padding: 1em;
}

.detail_movie{
    padding: 1.5em;
}

.movieImage{
    padding: 0;
    height: 445px;
    object-fit: cover;
}

#delete_button{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em;
}

#delete_button::after{
    font-family: "Font Awesome 5 Free";
    content: '\f2ed';
    margin-left: 1em;
}